<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <link rel="stylesheet" href="../static/css/start.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/start.js"></script>
</head>

<body>
    <div class="shellstyle"></div>
    <div class="shell">
        <div class="title">
            <h2>陶瓷之美</h2>
        </div>
        <div class="slide">
            <div class="top"><i class="iconfont icon-arrow-up">
                    <div class="box"></div>
                </i></div>
            <div class="bottons">
                <div class="botton one">
                    <div class="line"></div>
                    <span>1</span>
                </div>
                <div class="botton two">
                    <div class="line"></div>
                    <span>2</span>
                </div>
            </div>
            <div class="top"><i class="iconfont icon-arrow-down">
                    <div class="box"></div>
                </i></div>
        </div>
        <div class="main">
            <h2>人间瓷话</h2>
            <div class="circle"></div>
            <div class="banana"></div>
        </div>
        <div class="content">
            <h3>瓷</h3>
            <span>
                始于土，成于火，瓷比玉，宁碎不折；
                公生明，廉生威，正必德，宁折不弯。
                受污不侵其洁；
                经火不变开形；
                入土千年不朽不锈。
                有土的芬芳，水的灵秀，玉的圣洁。 
            </span>
            <a class="nav-link indexlink" href="{{ url_for('qa.zhu') }}">进入线上展馆</a>
        </div>
    </div>
</body>

</html>